<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find std_detector)/config/config_ntu.yaml" />
  <node 
		pkg="std_detector" 
		type="place_recognition_ntu" 
		name="place_recognition_ntu" 
		output="screen" 
	/>

  <arg name="data_path" default="/media/tmn/mySataSSD2/DATASETS/MCDVIRAL/MCDPointCloud"/>

  <param name="lidar_path" type="string" value = "$(arg data_path)/ntu_night_04/inB/"/>
  <param name="pose_path"  type="string" value = "$(arg data_path)/ntu_night_04/pose_inW.csv"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>