<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find std_detector)/config/config_ntu.yaml" />
  <node 
		pkg="std_detector" 
		type="relocalization_ntu" 
		name="relocalization_ntu" 
		output="screen" 
	/>

  <!-- descriptor database generation -->
  <param name="generate_descriptor_database" type="bool" value = "false"/>
  <param name="generate_lidar_path" type="string" value = "/zhitai_ssd/elfant/Reloc/elfant_04/KFCloud/"/>
  <!-- <param name="generate_pose_path" type="string" value = "/home/samsung/NTU_carpark/ntu_night_08/pose_inW.csv"/> -->
  <param name="generate_pose_path" type="string" value = "/zhitai_ssd/elfant/Reloc/elfant_04/KfCloudPose.pcd"/>

  <param name="descriptor_file_path" type="string" value = "/zhitai_ssd/elfant/Reloc/elfant_04/saved_descriptors/"/>

  <!-- relocalization -->
  <param name="localization_lidar_path" type="string" value = "/home/samsung/NTU_carpark/result_ntu_day_02/KFCloud/"/>
  <param name="localization_pose_path" type="string" value = "/home/samsung/NTU_carpark/result_ntu_day_02/KfCloudPose.pcd"/>
  <param name="reference_gt_path" type="string" value = "/home/samsung/NTU_carpark/ntu_day_02/pose_inW.csv"/>

  <!-- global map for visualizatin -->
  <param name="global_map_path" type="string" value = "/zhitai_ssd/elfant/Reloc/carparkp.pcd"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>